<%= "#{current_user.name}さん、今日もお疲れ様です！" %>
<p><%= link_to "スタッフ一覧", users_path, class: "btn btn-success w-25" %></p>
<p><%= link_to "利用者一覧", patients_path, class: "btn btn-primary w-25" %></p>
<p><%= link_to "新規利用者登録", new_patient_path, class: "btn btn-danger w-25" %>
