<h1>スタッフ一覧</h1>
<p></p>
<table >
  <tr class="bottom">
    <th class="id">id</th>
    <th class="name">名前</th>
    <th class="other"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <th class="id"><%= user.id %></th>
      <th class="name"><%= user.name %></th>
      <th class="other"><%= link_to "詳細", user %></th>
    </tr>
  <% end %>
</table>
