<h1>スタッフ詳細</h1>
<br>
<table>
  <tr>
    <th class="show">
      【ID】 
    </th>
    <td>
      <%= @user.id %>
    </td>
  </tr>
  <tr>
    <th class="show">
      【名前】
    </th>
    <td>
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <th class="show">
      【メール】 
    </th>
    <td>
      <%= @user.email %>
    </td>
  </tr>
</table>
<br>
<%= link_to "スタッフ一覧", users_path %>
