<table>
  <tr class="bottom">
    <th class="id">id</th>
    <th class="name">名前</th>
    <th class="other"></th>
  </tr>
  <% @patients.each do |patient| %>
    <tr>
      <th class="id"><%= patient.id %></th>
      <th class="name"><%= patient.name %></th>
      <th class="other"><%= link_to "詳細", patient %>&nbsp;
        <%= link_to "編集", edit_patient_path(patient) %>
      </th>
    </tr>
  <% end %>
</table>
